<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Leviathan File Transfer</title>
    <script src="//unpkg.com/alpinejs" defer></script>
  </head>
  <body x-data="app">
    <div class="file-transfer-explorer">
      <template x-if="!loaded">
        <div>Loading...</div>
      </template>
      <template x-if="loaded">
        <div x-for="files">
          <div x-text="path"></div>
        </div>
      </template>
    </div>
  </body>
  <script>
    Alpine.data("app", () => ({
      loaded: false,
    }));
  </script>
</html>
